@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
	font-family: 'Open Sans', sans-serif;
}

body{
	padding: 0;
	margin: 0;
}
#container{
	height:100vh;
	width: 100vw;
	background:linear-gradient(rgba(249, 9, 38, 0.8), rgba(249, 240, 38, 0.8));

}
#content{
	text-align: center;
	width:50vw;
	background-color: white;
	height: 100vh;
	margin-left: auto;
	margin-right: auto;
	border-left: 2px solid rgba(249, 9, 38, 1);
	border-right: 2px solid rgba(249, 9, 38, 1);

}
#image{
	margin-top: 20px;
	text-align: center;
	height: 128px;
	width: 128px;
	border: 2px solid #33cc99;
	margin-left: auto;
	margin-right: auto;
	
}
#user{
	width:40vw;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 10px;
	border-bottom: dotted 2px #33cc99;
	
}

#username {
	font-size: 28px;
}

.break{
	width:50vw;
	height: 30px;
}

textarea {
	width:30vw;
	height: 10vh;
	resize: none;
}

.post {
	width: 45vw;
	text-align: left;
	padding: 10px;
	padding-left: 5vw;
}

.postavatar {
	max-width: 50px;
	max-height: 50px;
	height: auto;
	width: auto;
}

.posttime {
	font-size: smaller;
}