<!doctype html>

<html lang="en">
	<head>
	  <meta charset="utf-8">

	  <title> Hackathon 2018</title>
	  <meta name="description" content="">
	  <meta name="keywords" content="">

	  <link rel="stylesheet" href="/static/css/styles.css" type="text/css">
	  <link rel="stylesheet" href="bootstrap.min" type="text/css">
	  <link rel="stylesheet" href="bootstrap-reboot.min" type="text/css">
	  <link rel="stylesheet" href="bootstrap.-grid" type="text/css">
	  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	  <script src="js/scripts.js"></script>

	</head>
	<body>
	<div id="container">
		<div id="content">
			<img id="image" src="{{ info['avatar'] }}">
			<div id="username">@{{ info['username'] }}</div>
			{% if session['username'] == info['username'] %}
				<a href="/profile/settings">Settings</a>
			{% else %}
				{% if info['username'] not in following %}
					<a href="/profile/{{ info['username'] }}/follow">Follow</a>
				{% else %}
					<a href="/profile/{{ info['username'] }}/unfollow">Unfollow</a>
				{% endif %}
			{% endif %}
			<div id="user"></div>
			{% if 'username' in session %}
				<form action="/post" method="POST">
					<textarea placeholder="Post" name="post"></textarea>
					<input type="submit" value="Send post">
				</form>
			{% endif %}
			{% for post in posts %}
				<div class="post">
					<img src="{{ info['avatar'] }}" class="postavatar">
					<span class="postname">@{{ info['username'] }}</span>
					<div class="posttime">{{ post[3] }}</div>
					<div class="postcontent">
						{{ post[2]}}
					</div>
					
				</div><div id="user"></div>
			{% endfor %}
		</div>
	</div>
			
		
	</body>
</html>